{% import 'macros/form.html' as form %}
{% resource 'harvest-extra-field/main' %}

<form id="source-new" class="form-horizontal" method="post" >

  {% block errors %}{{ form.errors(error_summary) }}{% endblock %}

  {% call form.input('url', id='field-url', label=_('URL'), value=data.url, error=errors.url, classes=['control-full', 'control-large']) %}
      <span class="info-block">
        {{ _('This should include the http:// part of the URL') }}
      </span>
  {% endcall %}

  {{ form.input('title', id='field-title', label=_('Title'), placeholder=_('eg. A descriptive title'), value=data.title, error=errors.title, classes=['control-full'], attrs={'data-module': 'slug-preview-target'}) }}

  {% set prefix = 'harvest' %}
  {% set domain = h.url_for('{0}_read'.format(c.dataset_type), id='', qualified=true) %}
  {% set domain = domain|replace("http://", "")|replace("https://", "") %}
  {% set attrs = {'data-module': 'slug-preview-slug', 'data-module-prefix': domain, 'data-module-placeholder': '<harvest-source>'} %}

  {{ form.prepend('name', id='field-name', label=_('Name'), prepend=prefix, placeholder=_('eg. my-dataset'), value=data.name, error=errors.name, attrs=attrs) }}

  {{ form.markdown('notes', id='field-notes', label=_('Description'), value=data.notes, error=errors.notes) }}

  <div class="harvest-types control-group">
    <label class="control-label">{{ _('Source type') }}</label>
    <div class="controls">
      {% for harvester in h.harvesters_info() %}
        {% set checked = False %}
        {# select first option if nothing in data #}
        {% if data.source_type == harvester['name'] or (not data.source_type and loop.first) %}
           {% set checked = True %}
        {% endif %}
        <label class="radio">
          <input type="radio" name="source_type" value="{{ harvester['name'] }}" {{ "checked " if checked }} data-module="harvest-type-change">
          {{ harvester['title'] }}
          <i class="icon-question-sign muted" title="{{ harvester['description'] }}" data-toggle="tooltip"></i>
        </label>
      {% endfor %}
    </div>
  </div>

  {{ form.select('frequency', id='field-frequency', label=_('Update frequency'), options=h.harvest_frequencies(), selected=data.frequency, error=errors.frequency) }}

  {% block extra_config %}
  {{ form.textarea('config', id='field-config', label=_('Configuration'), value=data.config, error=errors.config) }}
  {% endblock extra_config %}

  {# if we have a default group then this wants remembering #}
  {% if data.group_id %}
    <input type="hidden" name="groups__0__id" value="{{ data.group_id }}" />
  {% endif %}

  {% set dataset_is_draft = data.get('state', 'draft').startswith('draft') or data.get('state', 'none') ==  'none' %}
  {% set dataset_has_organization = data.owner_org or data.group_id %}
  {% set organizations_available = h.organizations_available('create_dataset') %}
  {% set user_is_sysadmin = h.check_access('sysadmin') %}
  {% set show_organizations_selector = organizations_available and (user_is_sysadmin or dataset_is_draft) %}

  {% if show_organizations_selector %}
    {% set existing_org = data.owner_org %}
    <div class="control-group">
      <label for="field-organizations" class="control-label">{{ _('Organization') }}</label>
      <div class="controls">
        <select id="field-organizations" name="owner_org" data-module="autocomplete">
          <option value="" {% if not selected_org and data.id %} selected="selected" {% endif %}>{{ _('No organization') }}</option>
          {% for organization in organizations_available %}
            {# get out first org from users list only if there is not an existing org #}
            {% set selected_org = (existing_org and existing_org == organization.id) or (not existing_org and not data.id and organization.id == organizations_available[0].id) %}
            <option value="{{ organization.id }}" {% if selected_org %} selected="selected" {% endif %}>{{ organization.name }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  {% endif %}

  {% if data.get('id', None) and h.check_access('harvest_source_delete', {'id': data.id}) and data.get('state', 'none') == 'deleted' %}
    <div class="control-group">
      <label for="field-state" class="control-label">{{ _('State') }}</label>
      <div class="controls">
        <select id="field-state" name="state">
          <option value="active" {% if data.get('state', 'none') == 'active' %} selected="selected" {% endif %}>{{ _('Active') }}</option>
          <option value="deleted" {% if data.get('state', 'none') == 'deleted' %} selected="selected" {% endif %}>{{ _('Deleted') }}</option>
        </select>
      </div>
    </div>
  {% endif %}

  <p class="form-actions">
    {% block delete_button %}
      {% if data.get('id', None) and h.check_access('harvest_source_delete', {'id': data.id}) and not data.get('state', 'none') == 'deleted' %}
        {% set locale_delete = h.dump_json({'content': _('This will flag the source as deleted but keep all its datasets and previous jobs. Are you sure you want to delete this harvest source?')}) %}
        {% set locale_clear = h.dump_json({'content': _('Warning: Apart from deleting this source, this command will remove all its datasets, as well as all previous job reports. Are you sure you want to continue?')}) %}
  <div class="dropdown btn-group">
    <a href="#" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
      {{ _('Delete') }}
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="{% url_for 'harvest_delete', id=data.name %}" data-module="confirm-action" data-module-i18n="{{ locale_delete }}">
          {{ _('Delete source') }}
        </a>
      </li>
      <li>
        <a href="{% url_for 'harvest_delete', id=data.name %}?clear=True" data-module="confirm-action" data-module-i18n="{{ locale_clear }}">
          {{ _('Delete and clear source') }}
        </a>
      </li>
    </ul>
  </div>
      {% endif %}
    {% endblock %}

    <input id="save" name="save" value="Save" type="submit" class="btn btn-primary pull-right">
  </p>

</form>
